@model Hall_Boking_System.Models.Acceptance

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminDashboardLayout.cshtml";
}

<h1>Edit</h1>

<h4>Acceptance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div hidden="hidden" class="form-group">
                <label asp-for="AcceptDate" class="control-label"></label>
                <input asp-for="AcceptDate" class="form-control" />
                <span asp-validation-for="AcceptDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcceptlistId" class="control-label"></label>
                <select asp-for="AcceptlistId" class="form-control" asp-items="ViewBag.AcceptlistId"></select>
                <span asp-validation-for="AcceptlistId" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="CustomersId" class="control-label"></label>
                <select asp-for="CustomersId" class="form-control" asp-items="ViewBag.CustomersId"></select>
                <span asp-validation-for="CustomersId" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="HallId" class="control-label"></label>
                <select asp-for="HallId" class="form-control" asp-items="ViewBag.HallId"></select>
                <span asp-validation-for="HallId" class="text-danger"></span>
            </div>
            <div hidden="hidden" class="form-group">
                <label asp-for="ReservationId" class="control-label"></label>
                <select asp-for="ReservationId" class="form-control" asp-items="ViewBag.ReservationId"></select>
                <span asp-validation-for="ReservationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>